$carousel-item-width-small: 60px;
$carousel-item-width-big: 70px;

$carousel-button-width-small: 20px;
$carousel-button-width-big: 26px;

$carousel-height: 300px;

$color-blue-primary: #067eb3;
$color-grey-primary: #e4e4e4;
$color-grey-secondary: #f9f8f7;
$color-red-primary: #ffcccb;
